<footer>
  <div class="container border-top">
    <div class="row py-5 align-items-center">
      <div class="col-md-12 col-lg-8">
        <h3 class="font-weight-bold mb-2 logo text-dark">Oigame.org</h3>
        <p>La cuarta revolución industrial permite que haya una cobertura global de internet, lo que a su
          vez permite una recolección masiva de datos sociales. Óigame aprovecha las nuevas tecnologías
          para hacer públicas las necesidades de la población y promover soluciones creativas y basadas
          en hechos objetivos. A través de la recolección y procesamiento de información Óigame fortalece
          el vínculo entre los actores sociales; Estado, industria, academia y población.</p>
      </div>
      <div class="col-md-12 col-lg-4 text-lg-right">
        <div class="social-network">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-slack-hash"></i></a>
          <a href=""><i class="fab fa-pinterest-p"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="my-3">
          <p class="m-0">raza@esalgomas.com</p>
          <p class="m-0">+985 654 654 549</p>
        </div>
      </div>
    </div>
  </div>
</footer>
