<footer>
  <div class="container border-top">
    <div class="row py-5 align-items-center">
      <div class="col-sm-6">
        <h3 class="font-weight-bold mb-2 logo text-dark">Oigame.org</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Morbi tempus iaculis urna id volutpat lacus laoreet. Fermentum
          dui faucibus in ornare.</p>
      </div>
      <div class="col-sm-6 text-sm-right">
        <div class="social-network">
          <a href=""><i class="fa fa-facebook-f"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-slack"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="my-3">
          <p class="m-0">raza@esalgomas.com</p>
          <p class="m-0">+985 654 654 549</p>
        </div>
      </div>
    </div>
  </div>
</footer>
