<app-layout>
  <div class="row text-center py-5 mb-5">
    <div class="col-sm-3">
      <img src="../assets/images/1.png" alt="">
      <p class="mt-4">Captura de información de la problación</p>
    </div>
    <div class="col-sm-3">
      <img src="../assets/images/2.png" alt="">
      <p class="mt-4">Segmentación de información</p>
    </div>
    <div class="col-sm-3">
      <img src="../assets/images/3.png" alt="">
      <p class="mt-4">Entra de info a politicos y entidades publicas</p>
    </div>
    <div class="col-sm-3">
      <img src="../assets/images/4.png" alt="">
      <p class="mt-4">Publicación de resultados</p>
    </div>
    <div class="col-12 mt-4">
      <button class="btn btn-primary btn-lg">EMPEZAR FORMULARIO</button>
    </div>
  </div>
</app-layout>
<router-outlet></router-outlet>
