<header>
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-sm-8">
        <img src="../../../assets/images/map.svg" alt="">
      </div>
      <div class="col-sm-4 text-center">
        <h1 class="font-weight-bold display-4">Oigame.org</h1>
        <h2 class="pt-5">¿Que hacemos en Oigame?</h2>
        <p class="pt-2">Recogemos las principales preocupaciones de diferentes 
          lugares en Colombia. Facilitamos el acceso público a esta información, 
          para que tanto los ciudadanos como las organizaciones públicas o privadas, 
          puedan conocer las preocupaciones de los ciudadanos por ubicación geográfica. 
          Buscamos que quienes quieran plantear soluciones a las diferentes problemáticas 
          regionales, puedan acceder a lo que sus ciudadanos están pensando.</p>
        <button class="btn btn-primary btn-lg"><i class="fa fa-play"></i> Ver Video</button>
      </div>
    </div>
  </div>
</header>
