@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import url(assets/icomoon/style.css);

/*variables*/

$font-family-sans-serif: 'Open Sans',
sans-serif;
$font-size-base: .9rem !default;

$primary: #16c6cc !default;
$secondary: #424770 !default;

$headings-color: $secondary !default;

$btn-border-radius: 100rem !default;
$btn-border-radius-lg: 100rem !default;
$btn-border-radius-sm: 100rem !default;


/*demo*/
.demo {
  top: 20px;
  left: 20px;
  z-index: 10;

  a {
    display: inline-block;
    background: $primary;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 5rem;
    transition: .2s all;

    &:hover {
      text-decoration: none
    }
  }
}

/*custom styles a*/

footer {
  .logo {
    font-size: 2.6rem
  }

  .social-network {
    a {
      color: var(--dark);
      font-size: 1.2rem;
      margin: 0 8px
    }
  }
}

/*custom styles b*/
header {
  .image {
    margin-top: -80px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

/*custom styles c*/
//nothig

/*custom styles d*/
.side {
  width: 100px;
  // padding: 1.9rem;
  height: calc(100% - 53px);
  z-index: 9;

  .toggle {
    display: none
  }

  @media (max-width:900px) {
    left: -100px;

    .toggle {
      position: absolute;
      display: block;
      left: 100px;
      top: 0;
      z-index: 999
    }
  }

  .filter {
    a {
      display: block;
      margin: 25px 0;
      position: relative;
      transition: .2s all;
      text-decoration: none;

      &:hover {
        span {
          -webkit-text-fill-color: #16c6cc;
        }

        &:after {
          position: absolute;
          content: attr(data-title);
          left: 50%;
          top: 50%;
          background: rgba(22, 198, 204, .8);
          padding: .3em .5rem;
          border-radius: 2rem;
          color: white;
          font-size: 12px;
          transform: translate(-50%, -50%);
        }
      }

      span {
        font-size: 2.5rem;
      }
    }

    .active {
      span {
        -webkit-text-fill-color: #16c6cc;
      }

      &:after {
        position: absolute;
        content: attr(data-title);
        left: 50%;
        top: 50%;
        background: rgba(22, 198, 204, .8);
        padding: .3em .5rem;
        border-radius: 2rem;
        color: white;
        font-size: 12px;
        transform: translate(-50%, -50%);
      }
    }

  }

}


.content {
  left: 100px;
  width: calc(100% - 100px);
  height: calc(100% - 53px);

  @media (max-width: 900px) {
    left: 0;
    width: 100%;
  }
}

.steps {
  img {
    @media (max-width: 1199px) {
      height: 200px;
    }
  }
}


.options {
  border-radius: 5rem;
  margin-top: 30px;
  margin-left: 30px;

  @media (max-width: 990px) {
    border-radius: 1rem;
    margin-left: 15px;
    margin-top: 15px;
  }

  select {
    border-radius: 5rem;
    background: url("assets/images/down.svg") no-repeat center right 14px #fff;
    background-size: 10px;
    -webkit-appearance: none;
  }

}

/*custom styles e*/
.foot {
  .social-network {
    a {
      color: #C8C4BE;
      margin: 0 7px
    }
  }
}

.category-btn {
  cursor: pointer;
}

.subcategory {
  padding: 1rem;

  .div-select {
    padding: 10px;
  }
}

/*map*/
.map {
  height: 500px !important;
}

.zindex {
  z-index: 9999;
}

@import "../node_modules/bootstrap/scss/bootstrap";
